/* filepath: /Users/krithickshobanbabu/workspace/7horse/nextjs-dashboard/styles/shiningButton.css */
.shining-button-gray {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(0deg, #640505, #a9a9a9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
  
  .shining-button-gray:hover {
    transform: scale(1.05);
  }
  
  .shining-button-gray::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.502);
    transform: skewX(-45deg);
    transition: 0.3s;
  }
  
  .shining-button-gray:hover::before {
    left: 100%;
    transition: 0.5s;
  }