/* filepath: /Users/krithickshobanbabu/workspace/7horse/nextjs-dashboard/styles/shiningButton.css */
.shining-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    /* background: linear-gradient(90deg, #4488d9, #67c6dd); */
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(12, 113, 167));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  .shining-button:hover {
    transform: scale(1.05);
  }
  
  .shining-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: hsl(135, 73%, 41%);
    transform: skewX(-45deg);
    transition: 0.3s;
  }
  
  .shining-button:hover::before {
    left: 100%;
    transition: 0.5s;
  }